# RECONSTRUCAO DE ROTAS
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]

# LIMIT REQUEST
LimitRequestBody 30720000

# HABILITAR SHORT OPEN TAGS
php_flag short_open_tag on

# HABILITAR UPLOAD FILE SIZE MAX
php_value upload_max_filesize 30M
php_value post_max_size 30M
php_value max_execution_time 600

# REMOVE HEADER
Header always unset X-Powered-By