@font-face {
	font-family: "Raleway";
	src: url("../fonts/raleway-regular/raleway-regular.eot");
	src: url("../fonts/raleway-regular/raleway-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/raleway-regular/raleway-regular.otf") format("opentype"),
		url("../fonts/raleway-regular/raleway-regular.svg") format("svg"),
		url("../fonts/raleway-regular/raleway-regular.ttf") format("truetype"),
		url("../fonts/raleway-regular/raleway-regular.woff") format("woff"),
		url("../fonts/raleway-regular/raleway-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}